.vscode/.ropeproject/objectdb
api/__pycache__/__init__.cpython-37.pyc
api/__pycache__/api.cpython-37.pyc
model/__pycache__/model_datastore.cpython-37.pyc
negocio/__pycache__/gestaocadastro.cpython-37.pyc
negocio/__pycache__/indexador.cpython-37.pyc
negocio/__pycache__/indice.cpython-37.pyc
negocio/__pycache__/investimento.cpython-37.pyc
utils/__pycache__/helper.cpython-37.pyc

